@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';
@plugin "daisyui";
body {
  font-family: 'Poppins', sans-serif;
}
@media (pointer: fine) {
  button {
    cursor: pointer;
  }
}

.floating {
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  50% {
    transform: translateX(-7px);
  }
  100% {
    transform: translateX(0px);
  }
}

.about{
  animation: aboutfloat 3s ease-in-out infinite;
}
@keyframes aboutfloat {
  50%{
    transform: translateY(-7px);
  }
  100%{
    transform: translateY(0px);
  }
}



@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
